$color-main: #333;
$color-attention: #FFBC0D;
$color-warning: #DB0007;
$color-success: #A9C23F;
$color-normal: #4EAED2;
$color-dark: #5A5A59;
$color-mute: #BFC0BF;
$color-light-dark: #898A89;
$color-light-bg: #e6e6e6;