@font-face {
  font-family: "Speedee";
  src: url("../fonts/Speedee/Speedee_Bd.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "Speedee";
  src: url("../fonts/Speedee/Speedee_BdIt.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap
}

@font-face {
  font-family: "Speedee";
  src: url("../fonts/Speedee/Speedee_Rg.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "Speedee";
  src: url("../fonts/Speedee/Speedee_It.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap
}

@font-face {
  font-family: "Speedee";
  src: url("../fonts/Speedee/Speedee_Lt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "Speedee";
  src: url("../fonts/Speedee/Speedee_LtIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap
}

